@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url("/public/fonts/Gilroy-Regular.ttf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url('/public/fonts/Gilroy-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #fc8019;
  border-radius: 10px;
  border: 2px solid transparent;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #fc8019 transparent;
}

.custom-scrollbar::-moz-scrollbar {
  width: 10px;
}

.custom-scrollbar::-moz-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-moz-scrollbar-thumb {
  background-color: #fc8019;
  border-radius: 10px;
  border: 2px solid transparent;
}

/* Other custom styles */
.p-2 {
  padding: 0.5rem;
}

.border-bw {
  border-bottom-width: 1px;
  border-color: #fc7f1948;
}

.bg-transparent {
  background-color: transparent;
}

.bgtheme{
  background-color: #fc8019;
  opacity: 0.8;
}

/* Custom Loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 3px;
  background: 
    radial-gradient(farthest-side,#ffa516 95%,#0000) 50% 0/12px 12px no-repeat,
    radial-gradient(farthest-side,#0000 calc(100% - 5px),#ffa516 calc(100% - 4px)) content-box;
  animation: l6 2s infinite ;
}
@keyframes l6 {to{transform: rotate(1turn)}}


.ftcolor{
  color: rgba(255, 255, 255, 0.6)
}

.gilroy{
  font-family: 'Gilroy';
}

.gilroyb{
  font-family: 'Gilroy-bold';
}


.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.loaded {
  opacity: 1;
}

/* Loader styling */
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px; /* Adjust this based on your expected content height */
}
